#brand-icon {
	padding: 1%;
	width:100%;
	height: auto;

}

#background {
	min-height: 700px;
	width: 100%;
	background-color: white;
	background-position: center;
}

.navbar-brand {
	padding: 7px 15px;
	max-width: 70px;
}

.navbar-right {
	padding: 1%;
}