<div class="row">

	<div class="col-sm-10 col-sm-offset-1">
	    <div class="thumbnail col-sm-3" ng-repeat="poke in ctrl.pokeArray">
	    	<img ng-if="poke.id < 10" ng-src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{poke.id}}.png">
	    	<img ng-if="poke.id < 100 && poke.id >= 10" ng-src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{poke.id}}.png">
	    	<img ng-if="poke.id >= 100 && poke.id <= 151" ng-src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/{{poke.id}}.png">
			<div class="caption">
				<h3>{{poke.name}} <span class="numSpan pull-right">#{{poke.id}}</span></h3>
				<p><a href="#/pokemon/{{poke.id}}" class="btn btn-default pull-right btn-poke" role="button">More</a></p>
			</div>
	    </div>
  	</div>

</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="#/{{ctrl.prev}}" class="btn btn-default" role="button">Prev</a><a href="#/{{ctrl.next}}" class="btn btn-default pull-right" role="button">Next</a>
			</div>
		</div>
	</div>
</div>